.custom-button,
.google-signin {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  padding: 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  cursor: pointer;
  border: none;
  color: white;
}

.custom-button {
  background-color: black;
  border: none;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.inverted {
    border: 1px solid black;
    background-color: white;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.google-signin {
  background-color: #4285f4;

  &:hover {
    background-color: #357ae8;
  }
}
