.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .option-container {
      padding: 10px 15px;
      margin: 0 10px;
    }

    .signout-button {
      min-width: 165px;
      margin: 0 10px;
      width: auto;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 15px;
      background-color: white;
      color: black;
      text-transform: uppercase;
      font-weight: bolder;
      cursor: pointer;
      border: 1px solid grey;
      border-radius: 5px;
    }
  }
}
